.task-title-searched {
    color: black;
}

.container-cutom {
    margin: auto;
    max-width: 1630px;
}

.col-3 {
    width: 30% !important;
}

.row {
    justify-content: space-evenly !important;
    flex-wrap: nowrap !important;
}
.fw-wg{
    font-weight: 400 !important;
}